<div *ngFor="let p of perguntas; let i = index" class="question">
  <ng-container [ngSwitch]="p.tipo">
    <!-- IMAGEM → TEXTO: mostra as duas partes lado a lado -->
    <div *ngSwitchCase="'IMAGEM_PARA_TEXTO'" class="prompt-list">
      <img
        *ngFor="let url of p.prompt"
        [src]="url"
        alt="sinal"
        width="150"
      />
    </div>
    <!-- TEXTO → IMAGEM -->
    <p *ngSwitchCase="'TEXTO_PARA_IMAGEM'">{{ p.prompt }}</p>
  </ng-container>

  <ul>
    <li *ngFor="let opc of p.opcoes; let j = index">
      <label>
        <input
          type="radio"
          [name]="'q' + i"
          [value]="j"
          [(ngModel)]="respostas[i].opcaoEscolhida"
        />
        <ng-container *ngIf="opc.texto">{{ opc.texto }}</ng-container>
        <img
          *ngIf="opc.imagemUrl"
          [src]="opc.imagemUrl"
          alt="opção {{ j }}"
          width="100"
        />
      </label>
    </li>
  </ul>
</div>

<button (click)="submit()" [disabled]="!canSubmit">
  Enviar
</button>
